* {
  box-sizing: border-box;
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
}
html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
a {
  color: #0057b6;
}

.blue {
  color: #0057b6;
}
.green {
  color: #6cca88;
}
.gray {
  color: #727187;
}

.faq {
  font-size: 1.28rem;
}
bold {
  font-weight: bold;
}

#logo {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
#logo img {
  width: 200px;
  display: block;
  image-rendering: -webkit-optimize-contrast;
}
.page {
  display: flex;
  min-height: 100vh;
  height: 100%;
  position: relative;
  max-width: 1440px;
  width: 100%;
}
label {
  cursor: pointer;
}
label[for='menu-toggle'] {
  display: none;
}

.menu {
  width: 310px;
  background: #f7f9fb;
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 0 3.14rem;
}

.items {
  font-size: 1.28rem;
}

.items a,
.items a:visited {
  color: black;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.items a:hover,
.items a:active,
.items a.active {
  color: black;
  border-radius: 15px;
  background: #e9f1f9;
  text-decoration: none;
}
.items a.active {
  font-weight: bold;
}

.items a::before {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: inline-block;
  background: #d8e6f5;
  content: '';
  margin-right: 13px;
}
.items a img {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 24px;
  top: 29%;
  border-radius: 28px;
}

.content {
  margin-left: 310px;
  width: 100%;
}

.back {
  margin: 1.14rem 0 -1rem 4.28rem;
}

.back a {
  color: #0057b6;
  text-decoration: none;
  font-size: 0.85rem;
  padding: 0.5rem;
}

header {
  display: flex;
  border-bottom: 2px solid rgba(226, 226, 226, 0.4);
  padding: 1.5rem 4.28rem;
  color: #0057b6;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  margin: 0 2rem 0 0;
  font-weight: bold;
}
header a {
  color: #92959f;
  font-size: 2rem;
  font-weight: bold;
}

.title {
  display: flex;
}

.title-action {
  display: flex;
}
.title-action form {
  display: none;
}
.title-action label {
  margin-left: 1rem;
}

label[for='search-form'] {
  box-shadow: inset 0 0 2px #d7dee9;
  border-radius: 10px;
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
label[for='notify'] {
  background: #f6f8fb;
  border-radius: 10px;
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  padding: 2.14rem 4.28rem;
}

/** Синий блок */
.focus {
  border-radius: 20px;
  background: #0d356c;
  color: white;
  margin-bottom: 2rem;
  padding: 2.28rem;
}

.focus .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.focus .big-title {
  font-size: 2rem;
  margin-bottom: 2.28rem;
}

.focus .sub-title div:first-child {
  font-size: 1.14rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.focus .sub-title div {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
  margin-bottom: 0.4rem;
}

.focus .bottom {
  border-top: 2px solid #687f96;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.focus .bottom > div {
  display: flex;
  flex-wrap: wrap;
}

.focus .bottom > div > div {
  padding-right: 2rem;
}
.focus .bottom > div > div + div {
  font-size: 1.28rem;
  font-weight: bold;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.btn-white {
  border: 2px solid #d7dee9;
  border-radius: 10px;
  padding: 0.8rem 1.14rem;
  color: white;
  background: transparent;
  font-size: 1.14rem;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
}

.btn-white + .btn-white {
  margin-left: 1.14rem;
}

.btn-blue {
  border: 2px solid #0057b6;
  border-radius: 10px;
  padding: 0.8rem 1.14rem;
  color: white;
  background: #0057b6;
  font-size: 1.14rem;
  font-weight: normal;
  white-space: nowrap;
  display: inline-block;
}
.btn-blue:focus {
  box-shadow: 0 0 4px 0 #0057b6;
  outline: none;
}

/** Голубой блок */
.promo {
  display: block;
  border-radius: 20px;
  background: #e9f1f9 url(../images/circles.png) 90% 75% no-repeat;
  color: black;
  margin-bottom: 2rem;
  position: relative;
}

.promo svg {
  stroke: #adb3c6;
}
.promo.arc {
  background-image: url(../images/blue-arc.png);
  background-size: contain;
  background-position: right;
}
.promo.arc svg {
  stroke: white;
}

input:checked + .promo {
  display: none;
}

.promo a {
  display: block;
  padding: 2.28rem;
  color: black;
  text-decoration: none;
}

.promo .title {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}
.promo .title + span {
  font-size: 1.28rem;
  display: block;
  margin-bottom: 2rem;
}

.promo label {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.promo .btn-white {
  border-color: #d7dee9;
  font-size: 1rem;
  font-weight: normal;
  color: black;
}

.stocks .top-line {
  font-size: 1.57rem;
  font-weight: bold;
  color: #92959f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.stocks .top-line .active {
  color: black;
}

.stocks .top-line span {
  margin-right: 4rem;
}
@media (max-width: 1260px) {
  .stocks .top-line {
    font-size: 1.2rem;
  }
  .stocks .top-line span {
    margin-right: 2rem;
  }
}

.table-stocks .info,
.table-stocks .count {
  width: 25%;
}
.table-stocks .money {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-stocks .info {
  display: flex;
  align-items: center;
  width: 40%;
}
.table-stocks .info img {
  margin-right: 1rem;
}

.table-stocks .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid #d7dee9;
}

.table-stocks .row:last-child {
  border-bottom: 0;
}

@media (max-width: 1100px) {
  .menu {
    width: 28.5vw;
    padding: 0 2vw;
  }

  .content {
    margin-left: 28.5vw;
  }

  .body {
    padding: 2.14rem 5vw;
  }
  .back {
    margin-left: 5vw;
  }

  .focus .sub-title div {
    font-size: 2.5vw;
  }
}

/******************************
 * Маленькая высота экрана 
 **/
@media (max-height: 480px) {
  .menu {
    width: 310px;
    background: #f7f9fb;
    position: relative;
    height: auto;
  }
  .content {
    margin-left: 0;
  }
}

/* маленькая ширина экрана */
@media (max-width: 800px) {
  #logo {
    padding: 1rem 0;
    justify-content: left;
  }
  #logo img {
    width: 154px;
    margin-left: 1rem;
  }

  .page {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    display: none;
    height: 100vh;
    width: 260px;
    padding: 0;
    overflow: auto;
  }

  label[for='menu-toggle'] {
    position: absolute;
    top: 1.8rem;
    left: 1rem;
    display: block;
    z-index: 2;
  }

  #menu-toggle:checked + label + .menu {
    display: block;
    z-index: 2;
  }

  #menu-toggle:checked + label[for='menu-toggle']:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    content: '';
  }

  .items {
    font-size: 1.14rem;
    padding: 0.5rem;
    width: 100%;
  }

  .items a {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }

  .items a img {
    top: 15%;
    left: 7px;
  }
  header {
    justify-content: center;
    padding: 1.5rem 1.14rem;
  }

  header h1,
  header a {
    font-size: 1.14rem;
  }

  header h1 {
    margin-right: 1.14rem;
  }

  .title-action label[for='search-form'] {
    display: none;
  }

  .title-action label[for='notify'] {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 32px;
    height: 32px;
  }
  .title-action label[for='notify'] svg {
    width: 13px;
    height: 13px;
  }

  .body {
    padding: 1.14rem;
  }

  .back {
    margin-left: 1.14rem;
    margin-bottom: 0;
  }

  .content {
    margin-left: 0;
  }

  .focus .sub-title div {
    font-size: 1.5rem;
  }
}

@media (max-width: 560px) {
  .btn-white,
  .btn-blue {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .focus,
  .promo a {
    padding: 1rem;
  }

  .focus .big-title {
    flex-basis: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .focus .sub-title div:first-child {
    font-size: 1rem;
  }
  .focus .sub-title div {
    text-align: left;
    font-size: 1rem;
  }
  .focus .sub-title + .sub-title div {
    text-align: right;
    font-size: 1rem;
  }

  .focus .bottom {
    display: none;
  }

  .promo {
    background-size: 20%;
    border-radius: 10px;
  }
  .promo .title {
    font-size: 1.14rem;
    font-weight: bold;
    padding-right: 24px;
  }
  .promo .title + span {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .promo .btn-white {
    display: none;
  }
}

@media (max-width: 380px) {
  .focus .buttons .btn-white {
    width: 100%;
  }

  .focus .btn-white + .btn-white {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

.v16_8 {
  width: 100%;
  height: 1157px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_18 {
  width: 310px;
  height: 100%;
  background: rgba(247, 249, 251, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_48 {
  width: 218px;
  height: 327px;
  background: url('../images/v16_48.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 46px;
  overflow: hidden;
}
.v16_40 {
  width: 218px;
  height: 60px;
  background: url('../images/v16_40.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v16_19 {
  width: 218px;
  height: 60px;
  background: rgba(233, 241, 249, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v16_16 {
  width: 88px;
  color: rgba(38, 44, 64, 1);
  position: absolute;
  top: 19px;
  left: 64px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_27 {
  width: 28px;
  height: 28px;
  background: rgba(215, 230, 245, 1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 24px;
  border-radius: 50%;
}
.v16_35 {
  width: 133px;
  height: 28px;
  background: url('../images/v16_35.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 24px;
  overflow: hidden;
}
.v16_20 {
  width: 93px;
  color: rgba(38, 44, 64, 1);
  position: absolute;
  top: 1px;
  left: 40px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_30 {
  width: 28px;
  height: 28px;
  background: rgba(215, 230, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v16_36 {
  width: 102px;
  height: 28px;
  background: url('../images/v16_36.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 24px;
  overflow: hidden;
}
.v16_21 {
  width: 62px;
  color: rgba(38, 44, 64, 1);
  position: absolute;
  top: 1px;
  left: 40px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_31 {
  width: 28px;
  height: 28px;
  background: rgba(215, 230, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v16_37 {
  width: 111px;
  height: 28px;
  background: url('../images/v16_37.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 24px;
  overflow: hidden;
}
.v16_22 {
  width: 71px;
  color: rgba(38, 44, 64, 1);
  position: absolute;
  top: 1px;
  left: 40px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_32 {
  width: 28px;
  height: 28px;
  background: rgba(215, 230, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v16_38 {
  width: 146px;
  height: 28px;
  background: url('../images/v16_38.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 24px;
  overflow: hidden;
}
.v16_23 {
  width: 106px;
  color: rgba(38, 44, 64, 1);
  position: absolute;
  top: 1px;
  left: 40px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_33 {
  width: 28px;
  height: 28px;
  background: rgba(215, 230, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v16_39 {
  width: 180px;
  height: 28px;
  background: url('../images/v16_39.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v16_24 {
  width: 140px;
  color: rgba(38, 44, 64, 1);
  position: absolute;
  top: 1px;
  left: 40px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_34 {
  width: 28px;
  height: 28px;
  background: rgba(215, 230, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v14_8 {
  width: 199px;
  height: 46px;
  background: url('../images/v14_8.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 46px;
  overflow: hidden;
}
.v16_7 {
  width: 56px;
  height: 56px;
  background: url('../images/v16_7.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1324px;
  overflow: hidden;
}
.v16_5 {
  width: 56px;
  height: 56px;
  background: rgba(245, 248, 251, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v16_0 {
  width: 24px;
  height: 24px;
  background: rgba(173, 179, 198, 1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v16_1 {
  width: 19px;
  height: 24px;
  background: url('../images/v16_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v16_2 {
  width: 19px;
  height: 17px;
  background: rgba(173, 179, 198, 1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v16_3 {
  width: 6px;
  height: 3px;
  background: rgba(173, 179, 198, 1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 6px;
}
.v16_4 {
  width: 5px;
  height: 3px;
  background: rgba(173, 179, 198, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
}
.v16_6 {
  width: 10px;
  height: 10px;
  background: rgba(0, 87, 182, 1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 35px;
  border-radius: 50%;
}
.v17_0 {
  width: 158px;
  color: rgba(0, 87, 182, 1);
  position: absolute;
  top: 32px;
  left: 370px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v18_2 {
  width: 61px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 32px;
  left: 560px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v340_41 {
  width: 100%;
  height: 268px;
  background: rgba(13, 53, 108, 1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 370px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v340_42 {
  width: 91px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 32px;
  left: 32px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v340_43 {
  width: 94px;
  height: 47px;
  background: url('../images/v340_43.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v340_44 {
  width: 58px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_45 {
  width: 241px;
  height: 47px;
  background: url('../images/v340_45.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 142px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v340_46 {
  width: 185px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_47 {
  width: 10px;
  height: 5px;
  background: url('../images/v340_47.png');
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 213px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.v340_48 {
  width: 218px;
  height: 63px;
  background: url('../images/v340_48.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 481px;
  overflow: hidden;
}
.v340_49 {
  width: 167px;
  height: 19px;
  background: url('../images/v340_49.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
  overflow: hidden;
}
.v340_50 {
  width: 147px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_51 {
  width: 10px;
  height: 5px;
  background: url('../images/v340_51.png');
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 157px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.v340_52 {
  width: 218px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v340_53 {
  width: 253px;
  height: 38px;
  background: url('../images/v340_53.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 32px;
  overflow: hidden;
}
.v340_54 {
  width: 94px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_55 {
  width: 127px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 126px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_56 {
  width: 248px;
  height: 38px;
  background: url('../images/v340_56.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 383px;
  overflow: hidden;
}
.v340_57 {
  width: 129px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_58 {
  width: 87px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 161px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_59 {
  width: 222px;
  height: 38px;
  background: url('../images/v340_59.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 756px;
  overflow: hidden;
}
.v340_60 {
  width: 90px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_61 {
  width: 100px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 122px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_63 {
  width: 172px;
  height: 107px;
  background: url('../images/v340_63.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 806px;
  overflow: hidden;
}
.v340_64 {
  width: 118px;
  height: 19px;
  background: url('../images/v340_64.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
  overflow: hidden;
}
.v340_65 {
  width: 98px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v340_66 {
  width: 10px;
  height: 5px;
  background: url('../images/v340_66.png');
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 108px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.v340_67 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 29px;
  left: 29px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v340_68 {
  width: 98px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 73px;
  left: 74px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v340_69 {
  width: 15px;
  height: 21px;
  background: url('../images/v340_69.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 0px;
  overflow: hidden;
}
.v340_70 {
  width: 11px;
  height: 16px;
  background: url('../images/v340_70.png');
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid rgba(108, 202, 136, 1);
}
.v340_71 {
  width: 100%;
  height: 199px;
  background: rgba(233, 241, 249, 1);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 370px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v340_72 {
  width: 670px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 24px;
  left: 32px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v340_73 {
  width: 120px;
  height: 46px;
  background: url('../images/v340_73.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 32px;
  overflow: hidden;
}
.v340_74 {
  width: 120px;
  height: 46px;
  background: url('../images/v340_74.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(215, 222, 233, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v340_75 {
  width: 74px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 15px;
  left: 23px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v340_76 {
  width: 421px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 64px;
  left: 32px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_77 {
  width: 24px;
  height: 24px;
  background: url('../images/v340_77.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 974px;
  overflow: hidden;
}
.v340_78 {
  width: 16px;
  height: 15px;
  background: url('../images/v340_78.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  overflow: hidden;
}
.v340_79 {
  width: 15px;
  height: 15px;
  background: url('../images/v340_79.png');
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(173, 179, 198, 1);
}
.v340_80 {
  width: 15px;
  height: 15px;
  background: url('../images/v340_80.png');
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(173, 179, 198, 1);
}
.v340_81 {
  width: 129px;
  height: 129px;
  background: rgba(247, 249, 251, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 824px;
  border-radius: 50%;
}
.v340_82 {
  width: 33px;
  height: 33px;
  background: rgba(204, 222, 242, 1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 790px;
  border-radius: 50%;
}
.v340_83 {
  width: 199px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 653px;
  left: 370px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v340_84 {
  width: 250px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 653px;
  left: 667px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v340_85 {
  width: 201px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 653px;
  left: 1003px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v340_86 {
  width: 63px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 710px;
  left: 370px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v340_87 {
  width: 100%;
  height: 54px;
  background: url('../images/v340_87.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 761px;
  left: 370px;
  overflow: hidden;
}
.v340_88 {
  width: 84px;
  height: 49px;
  background: url('../images/v340_88.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 70px;
  overflow: hidden;
}
.v340_89 {
  width: 84px;
  height: 49px;
  background: url('../images/v340_89.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_90 {
  width: 84px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_91 {
  width: 40px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_92 {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 360px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_93 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 606px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_94 {
  width: 111px;
  height: 49px;
  background: url('../images/v340_94.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 899px;
  overflow: hidden;
}
.v340_95 {
  width: 86px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_96 {
  width: 49px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 62px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_97 {
  width: 15px;
  height: 21px;
  background: url('../images/v340_97.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v340_98 {
  width: 11px;
  height: 16px;
  background: url('../images/v340_98.png');
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid rgba(108, 202, 136, 1);
}
.v340_99 {
  width: 54px;
  height: 54px;
  background: url('../images/v340_99.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_100 {
  width: 54px;
  height: 54px;
  background: rgba(0, 74, 147, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v340_101 {
  width: 40px;
  height: 13px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 7px;
}
.v340_102 {
  width: 100%;
  height: 54px;
  background: url('../images/v340_102.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 370px;
  overflow: hidden;
}
.v340_103 {
  width: 41px;
  height: 49px;
  background: url('../images/v340_103.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 70px;
  overflow: hidden;
}
.v340_104 {
  width: 41px;
  height: 49px;
  background: url('../images/v340_104.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_105 {
  width: 41px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_106 {
  width: 39px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_107 {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 360px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_108 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 606px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_109 {
  width: 111px;
  height: 49px;
  background: url('../images/v340_109.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 899px;
  overflow: hidden;
}
.v340_110 {
  width: 86px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_111 {
  width: 49px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 62px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_112 {
  width: 15px;
  height: 21px;
  background: url('../images/v340_112.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v340_113 {
  width: 11px;
  height: 16px;
  background: url('../images/v340_113.png');
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid rgba(108, 202, 136, 1);
}
.v340_114 {
  width: 54px;
  height: 54px;
  background: url('../images/v340_114.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_115 {
  width: 54px;
  height: 54px;
  background: rgba(223, 223, 223, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v340_116 {
  width: 29px;
  height: 30px;
  background: rgba(252, 179, 22, 1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 13px;
}
.v340_117 {
  width: 100%;
  height: 54px;
  background: url('../images/v340_117.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 370px;
  overflow: hidden;
}
.v340_118 {
  width: 70px;
  height: 49px;
  background: url('../images/v340_118.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 70px;
  overflow: hidden;
}
.v340_119 {
  width: 70px;
  height: 49px;
  background: url('../images/v340_119.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_120 {
  width: 70px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_121 {
  width: 60px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_122 {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 360px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_123 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 606px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_124 {
  width: 111px;
  height: 49px;
  background: url('../images/v340_124.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 899px;
  overflow: hidden;
}
.v340_125 {
  width: 86px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_126 {
  width: 49px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 62px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_127 {
  width: 15px;
  height: 21px;
  background: url('../images/v340_127.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v340_128 {
  width: 11px;
  height: 16px;
  background: url('../images/v340_128.png');
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid rgba(108, 202, 136, 1);
}
.v340_129 {
  width: 54px;
  height: 54px;
  background: url('../images/v340_129.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_130 {
  width: 54px;
  height: 54px;
  background: rgba(35, 106, 179, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v340_131 {
  width: 20px;
  height: 41px;
  background: url('../images/v340_131.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 17px;
  overflow: hidden;
}
.v340_132 {
  width: 7px;
  height: 27px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
}
.v340_133 {
  width: 20px;
  height: 28px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
}
.v340_134 {
  width: 100%;
  height: 54px;
  background: url('../images/v340_134.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1067px;
  left: 370px;
  overflow: hidden;
}
.v340_135 {
  width: 60px;
  height: 49px;
  background: url('../images/v340_135.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 70px;
  overflow: hidden;
}
.v340_136 {
  width: 60px;
  height: 49px;
  background: url('../images/v340_136.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_137 {
  width: 60px;
  color: rgba(0, 0, 49, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_138 {
  width: 48px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_139 {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 360px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_140 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 606px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_141 {
  width: 111px;
  height: 49px;
  background: url('../images/v340_141.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 899px;
  overflow: hidden;
}
.v340_142 {
  width: 86px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_143 {
  width: 49px;
  color: rgba(146, 149, 159, 1);
  position: absolute;
  top: 27px;
  left: 62px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_144 {
  width: 15px;
  height: 21px;
  background: url('../images/v340_144.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v340_145 {
  width: 11px;
  height: 16px;
  background: url('../images/v340_145.png');
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid rgba(108, 202, 136, 1);
}
.v340_146 {
  width: 54px;
  height: 54px;
  background: url('../images/v340_146.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_262 {
  width: 54px;
  height: 54px;
  background: url('../images/v340_262.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_147 {
  width: 54px;
  height: 54px;
  background: rgba(255, 3, 3, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v340_261 {
  width: 20px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 18px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
