@import url('profile.css');
@import url('request.css');

* {
  box-sizing: border-box;
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
}
html {
  font-size: 14px;
}
details,
summary {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
a {
  color: #0057b6;
}

.blue {
  color: #0057b6;
}
.green {
  color: #6cca88;
}
.gray {
  color: #727187;
}

.faq {
  font-size: 1.28rem;
}
bold {
  font-weight: bold;
}

#logo {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
#logo img {
  width: 200px;
  display: block;
  image-rendering: -webkit-optimize-contrast;
}
.page {
  display: flex;
  min-height: 100vh;
  height: 100%;
  position: relative;
  max-width: 1680px;
  width: 100%;
}
label {
  cursor: pointer;
}
label[for='menu-toggle'] {
  display: none;
}

.menu {
  width: 310px;
  background: #f7f9fb;
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 0 3.14rem;
}

.items {
  font-size: 1.28rem;
}

.items a,
.items a:visited {
  color: black;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.items a:hover,
.items a:active,
.items a.active {
  color: black;
  border-radius: 15px;
  background: #e9f1f9;
  text-decoration: none;
}
.items a.active {
  font-weight: bold;
}

.items a::before {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: inline-block;
  background: #d8e6f5;
  content: '';
  margin-right: 13px;
}
.items a img {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 24px;
  top: 29%;
  border-radius: 28px;
}

.content {
  margin-left: 310px;
  width: 100%;
}

.back {
  margin: 1.14rem 0 -1rem 4.28rem;
}

.back a {
  color: #0057b6;
  text-decoration: none;
  font-size: 0.85rem;
  padding: 0.5rem;
}

header {
  display: flex;
  border-bottom: 2px solid rgba(226, 226, 226, 0.4);
  padding: 1.5rem 4.28rem;
  color: #0057b6;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  margin: 0 2rem 0 0;
  font-weight: bold;
}
header a {
  color: #92959f;
  font-size: 2rem;
  font-weight: bold;
}

.title {
  display: flex;
}

.title-action {
  display: flex;
}
.title-action form {
  display: none;
}
.title-action label {
  margin-left: 1rem;
}

label[for='search-form'] {
  box-shadow: inset 0 0 2px #d7dee9;
  border-radius: 10px;
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
label[for='notify'] {
  background: #f6f8fb;
  border-radius: 10px;
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  padding: 2.14rem 4.28rem;
}

/** Синий блок */
.focus {
  border-radius: 20px;
  background: #0d356c;
  color: white;
  margin-bottom: 2rem;
  padding: 2.28rem;
}

.focus .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.focus .big-title {
  font-size: 2rem;
  margin-bottom: 2.28rem;
}

.focus .sub-title div:first-child {
  font-size: 1.14rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.focus .sub-title div {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
  margin-bottom: 0.4rem;
}

.focus .bottom {
  border-top: 2px solid #687f96;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.focus .bottom > div {
  display: flex;
  flex-wrap: wrap;
}

.focus .bottom > div > div {
  padding-right: 2rem;
}
.focus .bottom > div > div + div {
  font-size: 1.28rem;
  font-weight: bold;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.buttons .btn-white {
  color: white;
}

.btn-white {
  border: 2px solid #d7dee9;
  border-radius: 10px;
  padding: 0.8rem 1.14rem;
  color: black;
  background: transparent;
  font-size: 1.14rem;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}

.btn-white + .btn-white,
.btn-blue + .btn-white {
  margin-left: 1.14rem;
}

.btn-blue {
  text-decoration: none;
  border: 2px solid #0057b6;
  border-radius: 10px;
  padding: 0.8rem 1.14rem;
  color: white;
  background: #0057b6;
  font-size: 1.14rem;
  font-weight: normal;
  white-space: nowrap;
  display: inline-block;
}
.btn-blue:focus {
  box-shadow: 0 0 4px 0 #0057b6;
  outline: none;
}

/** Голубой блок */
.promo {
  display: block;
  border-radius: 20px;
  background: #e9f1f9 url(../images/circles.png) 90% 75% no-repeat;
  color: black;
  margin-bottom: 2rem;
  position: relative;
}

.promo svg {
  stroke: #adb3c6;
}
.promo.arc {
  background-image: url(../images/blue-arc.png);
  background-size: contain;
  background-position: right;
}
.promo.arc svg {
  stroke: white;
}

input:checked + .promo {
  display: none;
}

.promo a,
.promo .block {
  display: block;
  padding: 2.28rem;
  color: black;
  text-decoration: none;
  outline: none;
}

.promo .title {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}
.promo .title + span {
  font-size: 1.28rem;
  display: block;
  margin-bottom: 2rem;
}

.promo label[for='close-promo'] {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.promo .btn-white {
  border-color: #d7dee9;
  font-size: 1rem;
  font-weight: normal;
}

.stocks .top-line {
  font-size: 1.57rem;
  font-weight: bold;
  color: #92959f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.stocks .top-line .active {
  color: black;
}

.stocks .top-line span {
  margin-right: 4rem;
}
@media (max-width: 1260px) {
  .stocks .top-line {
    font-size: 1.2rem;
  }
  .stocks .top-line span {
    margin-right: 2rem;
  }
}

.table-stocks .info,
.table-stocks .count {
  width: 25%;
}
.table-stocks .money {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-stocks .info {
  display: flex;
  align-items: center;
  width: 40%;
}
.table-stocks .info img {
  margin-right: 1rem;
}

.table-stocks .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid #d7dee9;
}

.table-stocks .row:last-child {
  border-bottom: 0;
}

@media (max-width: 1100px) {
  .menu {
    width: 28.5vw;
    padding: 0 2vw;
  }

  .content {
    margin-left: 28.5vw;
  }

  .body {
    padding: 2.14rem 5vw;
  }
  .back {
    margin-left: 5vw;
  }

  .focus .sub-title div {
    font-size: 2.5vw;
  }
}

/******************************
 * Маленькая высота экрана 
 **/
@media (max-height: 480px) {
  .menu {
    width: 310px;
    background: #f7f9fb;
    position: relative;
    height: auto;
  }
  .content {
    margin-left: 0;
  }
}

/* маленькая ширина экрана */
@media (max-width: 800px) {
  #logo {
    padding: 1rem 0;
    justify-content: left;
  }
  #logo img {
    width: 154px;
    margin-left: 1rem;
  }

  .page {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    display: none;
    height: 100vh;
    width: 260px;
    padding: 0;
    overflow: auto;
  }

  label[for='menu-toggle'] {
    position: absolute;
    top: 1.8rem;
    left: 1rem;
    display: block;
    z-index: 2;
  }

  #menu-toggle:checked + label + .menu {
    display: block;
    z-index: 2;
  }

  #menu-toggle:checked + label[for='menu-toggle']:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    content: '';
  }

  .items {
    font-size: 1.14rem;
    padding: 0.5rem;
    width: 100%;
  }

  .items a {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }

  .items a img {
    top: 15%;
    left: 7px;
  }
  header {
    justify-content: center;
    padding: 1.5rem 1.14rem;
  }

  header h1,
  header a {
    font-size: 1.14rem;
  }

  header h1 {
    margin-right: 1.14rem;
  }

  .title-action label[for='search-form'] {
    display: none;
  }

  .title-action label[for='notify'] {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 32px;
    height: 32px;
  }
  .title-action label[for='notify'] svg {
    width: 13px;
    height: 13px;
  }

  .body {
    padding: 1.14rem;
  }

  .back {
    margin-left: 1.14rem;
    margin-bottom: 0;
  }

  .content {
    margin-left: 0;
  }

  .focus .sub-title div {
    font-size: 1.5rem;
  }
}

@media (max-width: 560px) {
  .btn-white,
  .btn-blue {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .focus,
  .promo a,
  .promo .block {
    padding: 1rem;
  }

  .focus .big-title {
    flex-basis: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .focus .sub-title div:first-child {
    font-size: 1rem;
  }
  .focus .sub-title div {
    text-align: left;
    font-size: 1rem;
  }
  .focus .sub-title + .sub-title div {
    text-align: right;
    font-size: 1rem;
  }

  .focus .bottom {
    display: none;
  }

  .promo {
    background-size: 20%;
    border-radius: 10px;
  }
  .promo .title {
    font-size: 1.14rem;
    font-weight: bold;
    padding-right: 24px;
  }
  .promo .title + span {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .promo .btn-white {
    display: none;
  }
}

@media (max-width: 380px) {
  .focus .buttons .btn-white {
    width: 100%;
  }

  .focus .btn-white + .btn-white {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

input:checked + .modal {
  display: flex;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal > div {
  border-radius: 10px;
  background: white;
  padding: 2rem 3rem 2rem 2.28rem;
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: 0 1rem;
}

.modal label {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal label:after {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}
.modal-body {
  font-size: 1.28rem;
  line-height: 150%;
  max-height: calc(100vh - 140px);
  overflow: auto;
}

.modal-footer {
  display: flex;
  padding-top: 1rem;

  align-items: center;
  width: 100%;
}

@media (max-width: 560px) {
  .modal label {
    right: 3rem;
  }
  .modal > div {
    padding: 1rem;
  }

  .modal-body {
    font-size: 1rem;
  }
}
